@import "../../stylesheets/robotoFonts";

.container-4 {
  margin-top: 63px;
  margin-left: 40px;
  margin-right: 40px;
  //display: flex;
  //align-items: flex-start;
  //gap: 10px;

  .col-sm {
    margin-top: -46px;
    //left: 140px;
    width: 25%;
    height: 156px;
    margin-left: 11px;
    background: transparent linear-gradient(180deg, #073a81 0%, #041d41 100%) 0%
      0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #000000bf;
    border-radius: 10px;
    opacity: 1;
  }
  .left {
    .number-pulse {
      display: flex;
      .pulsatingDotone {
        margin-top: 80px;
        margin-left: 15px;
        animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
        background-color: var(--pulsating-dot, #c0e594);
        border-radius: 50%;
        box-sizing: border-box;
        height: 10px;
        width: 10px;
      }

      .pulsatingDotone:before {
        animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        background-color: var(--pulsating-dot, #c0e594);
        border-radius: 45px;
        content: "";
        display: block;
        height: 300%;
        left: -100%;
        position: relative;
        top: -100%;
        width: 300%;
      }

      @keyframes pulseRing {
        0% {
          transform: scale(0.5);
        }
        80%,
        100% {
          opacity: 0;
        }
      }

      @keyframes pulseDot {
        0%,
        100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
      }
      .number-1 {
        // top: 721px;
        // left: 88px;
        margin-left: 15px;
        width: 165px;
        height: 67px;
        /* UI Properties */
        text-align: left;
        font-size: 37px;
        //font-size: medium;
        font-family: $font-name-Roboto-Regular;
        //  font-variant: normal;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        color: #c0e594;
        text-transform: uppercase;
        opacity: 1;
        margin-top: 7px;
        padding-top: 3rem;
      }
    }

    .number-pulse {
      display: flex;
      .pulsatingDottwo {
        margin-top: 80px;
        margin-left: 15px;
        animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
        background-color: var(--pulsating-dot, #f5c06b);
        border-radius: 50%;
        box-sizing: border-box;
        height: 10px;
        width: 10px;
      }

      .pulsatingDottwo:before {
        animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        background-color: var(--pulsating-dot, #f5c06b);
        border-radius: 45px;
        content: "";
        display: block;
        height: 300%;
        left: -100%;
        position: relative;
        top: -100%;
        width: 300%;
      }

      @keyframes pulseRing {
        0% {
          transform: scale(0.5);
        }
        80%,
        100% {
          opacity: 0;
        }
      }

      @keyframes pulseDot {
        0%,
        100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
      }
      .number-2 {
        // top: 721px;
        // left: 82px;
        margin-left: 15px;
        width: 65px;
        height: 67px;
        /* UI Properties */
        text-align: left;
        font-size: 37px;
        font-family: $font-name-Roboto-Regular;
        //    font-variant: normal;
        font-weight: 400;
        font-style: normal;
        margin-top: 7px;
        letter-spacing: 0px;
        color: #f5c06b;
        text-transform: uppercase;
        opacity: 1;
        padding-top: 3rem;
      }
    }

    .number-pulse {
      display: flex;
      .pulsatingDotthree {
        margin-top: 80px;
        margin-left: 15px;
        animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
        background-color: var(--pulsating-dot, #ec9b98);
        border-radius: 50%;
        box-sizing: border-box;
        height: 10px;
        width: 10px;
      }

      .pulsatingDotthree:before {
        animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        background-color: var(--pulsating-dot, #ec9b98);
        border-radius: 45px;
        content: "";
        display: block;
        height: 300%;
        left: -100%;
        position: relative;
        top: -100%;
        width: 300%;
      }

      @keyframes pulseRing {
        0% {
          transform: scale(0.5);
        }
        80%,
        100% {
          opacity: 0;
        }
      }

      @keyframes pulseDot {
        0%,
        100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
      }
      .number-3 {
        // top: 721px;
        // left: 82px;
        margin-left: 15px;
        width: 65px;
        height: 67px;
        /* UI Properties */
        text-align: left;
        font-size: 37px;
        margin-top: 7px;
        font-family: $font-name-Roboto-Regular;
        //   font-variant: normal;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0px;
        color: #ec9b98;
        text-transform: uppercase;
        opacity: 1;
        padding-top: 3rem;
      }
    }

    .number-pulse {
      display: flex;
      .pulsatingDotfour {
        margin-top: 80px;
        margin-left: 15px;
        animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
        background-color: var(--pulsating-dot, #fdf4a0);
        border-radius: 50%;
        box-sizing: border-box;
        height: 10px;
        width: 10px;
      }

      .pulsatingDotfour:before {
        animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        background-color: var(--pulsating-dot, #fdf4a0);
        border-radius: 45px;
        content: "";
        display: block;
        height: 300%;
        left: -100%;
        position: relative;
        top: -100%;
        width: 300%;
      }

      @keyframes pulseRing {
        0% {
          transform: scale(0.5);
        }
        80%,
        100% {
          opacity: 0;
        }
      }

      @keyframes pulseDot {
        0%,
        100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
      }
      .number-4 {
        // top: 721px;
        // left: 82px;
        margin-left: 15px;
        width: 65px;
        height: 67px;
        /* UI Properties */
        text-align: left;
        font-size: 37px;
        font-family: $font-name-Roboto-Regular;
        //   font-variant: normal;
        font-weight: 400;
        margin-top: 7px;
        font-style: normal;
        letter-spacing: 0px;
        color: #fdf4a0;
        text-transform: uppercase;
        opacity: 1;
        padding-top: 3rem;

        //margin-bottom: 20px;
      }
    }

    .number-pulse {
      display: flex;
      .pulsatingDotfive {
        margin-top: 80px;
        margin-left: 15px;
        animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
        background-color: var(--pulsating-dot, cornflowerblue);
        border-radius: 50%;
        box-sizing: border-box;
        height: 10px;
        width: 10px;
      }

      .pulsatingDotfive:before {
        animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
        background-color: var(--pulsating-dot, cornflowerblue);
        border-radius: 45px;
        content: "";
        display: block;
        height: 300%;
        left: -100%;
        position: relative;
        top: -100%;
        width: 300%;
      }

      @keyframes pulseRing {
        0% {
          transform: scale(0.5);
        }
        80%,
        100% {
          opacity: 0;
        }
      }

      @keyframes pulseDot {
        0%,
        100% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
      }
      .number-5 {
        // top: 721px;
        // left: 82px;
        margin-left: 15px;
        width: 65px;
        height: 67px;
        /* UI Properties */
        text-align: left;
        font-size: 37px;
        font-family: $font-name-Roboto-Regular;
        //   font-variant: normal;
        font-weight: 400;
        margin-top: 7px;
        font-style: normal;
        letter-spacing: 0px;
        color: cornflowerblue;
        text-transform: uppercase;
        opacity: 1;
        padding-top: 3rem;

        //margin-bottom: 20px;
      }
    }

    .text-1 {
      //top: 568px;
      //left: 52px;
      //width: 144px;
      height: 16px;
      /* UI Properties */
      text-align: left;
      font-size: 12px;
      letter-spacing: 1.1px;
      font-family: $font-name-Roboto-Regular;
      //   font-variant: normal;
      font-weight: 500;
      font-style: normal;
      //letter-spacing: 0.28px;
      color: #c0e594;
      text-transform: uppercase;
      opacity: 1;
    }
    .text-2 {
      //top: 568px;
      //left: 52px;
      //width: 144px;
      height: 16px;
      /* UI Properties */
      text-align: left;
      font-size: 12px;
      letter-spacing: 1.1px;
      font-family: $font-name-Roboto-Regular;
      //   font-variant: normal;
      font-weight: 500;
      font-style: normal;
      //letter-spacing: 0.28px;
      color: #f5c06b;
      text-transform: uppercase;
      opacity: 1;
    }
    .text-3 {
      //top: 568px;
      //left: 52px;
      //width: 144px;
      height: 16px;
      /* UI Properties */
      text-align: left;
      font-size: 12px;
      letter-spacing: 1.1px;
      font-family: $font-name-Roboto-Regular;
      //   font-variant: normal;
      font-weight: 500;
      font-style: normal;
      //letter-spacing: 0.28px;
      color: #ec9b98;
      text-transform: uppercase;
      opacity: 1;
    }
    .text-4 {
      //top: 568px;
      //left: 52px;
      //width: 144px;
      height: 16px;
      /* UI Properties */
      text-align: left;
      font-size: 12px;
      letter-spacing: 1.1px;
      font-family: $font-name-Roboto-Regular;
      //   font-variant: normal;
      font-weight: 500;
      font-style: normal;
      //letter-spacing: 0.28px;
      color: #fdf4a0;
      text-transform: uppercase;
      opacity: 1;
    }
    .text-5 {
      //top: 568px;
      //left: 52px;
      //width: 144px;
      height: 16px;
      /* UI Properties */
      text-align: left;
      font-size: 12px;
      letter-spacing: 1.1px;
      font-family: $font-name-Roboto-Regular;
      //   font-variant: normal;
      font-weight: 500;
      font-style: normal;
      //letter-spacing: 0.28px;
      color: cornflowerblue;
      text-transform: uppercase;
      opacity: 1;
    }
  }

  .text_alignment {
    padding-top: 1.7rem;
  }

  .right {
    padding-left: 70%;
    top: 335px;
    margin-top: 32px;
    left: 20px;
    width: 85px;
    height: 46px;
    padding-top: 0.5rem;
  }

  .right_occupies_station {
    padding-left: 60%;
    padding-top: 2rem;
  }

  .right_breakdown_station {
    padding-left: 80%;
    padding-top: 2rem;
    margin-top: 1px;
  }

  .right_charger_efficiency {
    padding-left: 85%;
    padding-top: 2rem;
  }
  .oppertunity_charger {
    padding-left: 85%;
    padding-top: 2rem;
  }
}
.button {
  padding-left: 60%;
  margin-top: -80px;
  .lp_review_err_btn {
    //background-color: #0086d0;
    height: 30px;
    width: 67%;
    padding-left: 14px;
    background-color: #073a81;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 20px;
    // text-align: left;
    font-size: 9px;
    font-weight: 500;
    font-variant: normal;
    text-align: center;
    font-family: $font-name-Roboto-Regular;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    margin-top: -100px;
    margin-left: 23px;
  }
  .lp_next_png {
    height: 6px;
    padding-left: 2px;
    padding-bottom: 1px;
    //margin-top: 5px;
    //margin-top: 4px;
    //padding-right: 5px;
  }
}
.loader-overlay {
  position: fixed;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  // background: rgba(0, 0, 0, 0.2);
  // z-index: 1;
}
.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
