@import "../../stylesheets/robotoFonts";

.trip-popup-update {
  //margin-top: -3%;
  //margin-top: -40px;
  // .modal {
  //   height: 80%;
  //   width: 80%;
  // }
  .modal-body {
    margin-top: -25px;
  }
  // .modal-backdrop {
  //   display: none !important;
  //   overflow: auto !important;
  // }

  
 
  .modal-title-vcenter {
    //     top: 50px;
    // left: 648px;
    // width: 144px;
    // height: 19px;
    /* UI Properties */
    // text-align: center;
    font-family: $font-name-Roboto-Bold;
    font-weight: bold;
    font-size: 16px;
    margin-left: 626px;
    font-variant: normal;
    letter-spacing: 0.32px;
    color: #083a81;
    text-transform: uppercase;
    opacity: 1;
  }
  .close {
    color: #aaa;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    position: absolute;
    right: 30px;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid white;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
  // .modal-title {
  //   //     top: 50px;
  //   // left: 648px;
  //   // width: 144px;
  //   // height: 19px;
  //   /* UI Properties */
  //  // text-align: center;
  //   font-family: $font-name-Roboto-Bold;
  //   font-weight: bold;
  //   font-size: 16px;
  //   margin-left: 646px;
  //   font-variant: normal;
  //   letter-spacing: 0.32px;
  //   color: #083a81;
  //   text-transform: uppercase;
  //   opacity: 1;
  // }
}

.ReactTable .rt-thead .rt-th.-cursor-pointer {
  background-color: #eaedf1;
  // padding: 21px;
  mix-blend-mode: normal;
  text-align: center;
  opacity: 1;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  font-family: $font-name-Roboto-Medium;
}
// .ReactTable .rt-th.-sort-asc .rt-resizer:before {
//   background-image: url("../../assets/images/arrow-up/up.png");
// }

.ReactTable .rt-tbody {
  text-align: center;
  min-width: 100px;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  // overflow-x: none;
}
.ReactTable .rt-table {
  flex: auto 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  border-collapse: collapse;
  //overflow-x:
  overflow-x: scroll;
}
.ReactTable .-pagination .-btn {
  font-size: 1em;
}

.title {
  font-family: $font-name-Roboto-Bold;
  font-size: 19px;
  font-weight: bold;
  font-variant: normal;
  letter-spacing: 0.32px;
  color: #083a81;
  margin-left: 620px;
}
.modal-90w {
  width: 90%;
  max-width: 2500px;
  //height: 1500px !important;
}

.close {
  color: black;
  //opacity: 1;
  border: none;
  background-color: white;
  font-size: 35px;
  font-weight: 500;
}
