@import "../../stylesheets/robotoFonts";

.trip_summary_report-head {
  margin-top: 20px;
  margin-left: 35px;

  /* UI Properties */
  text-align: left;
  font-family: $font-name-Roboto-Bold;
  font-size: 22px;
  font-weight: 700;
  font-variant: normal;
  letter-spacing: 0px;
  color: #073a81;
  text-transform: capitalize;
  opacity: 1;
}
.ReactTable .rt-thead .rt-resizable-header {
  background-color: #eaedf1;
  color: #000 !important;
}
.rt-td {
  text-align: center;
  font-size: 13px;
  font-family: $font-name-Roboto-Regular;
}
.rt-resizable-header-content {
  font-size: 14px;
  font-family: $font-name-Roboto-Medium;
}

.ReactTable .-pagination .-btn {
  font-size: 1em;
}
.ReactTable .rt-tbody {
  overflow-x: hidden;
}

// .trip_summary_report_div {
//   margin-left: 60%;
//   margin-top: -25px;
//   display: flex;
//   padding: 2rem;
 
// }


// .trip_summary_report_div_button-submit {
//   padding: 5px 5px;
//   background-color: #ed2541;
//   font-size: 14px;
//   border: none;
//   outline: none;
//   border-radius: 3px;
//   color: #fff;
//   font-family: $font-name-Roboto-Bold;
//   cursor: pointer;
//   width: 120px;
//   font-weight: 500;
//   letter-spacing: 1px;
//   //margin-top: 1px;
//   margin-left: 950px;
// }
// .trip_summary_report_search {
//  // margin-left: 5px;
//   margin-top: -5px;
//   //margin-bottom: 10px;
//   font-family: $font-name-Roboto-Regular;
// }
// .trip_summary_report_search-input{
// width: 400px;
// margin-top:6px;
// height: 30px;
// margin-left: 50px;
// }
.loader-overlay {
  position: fixed;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 0;
  //background: rgba(249, 246, 246, 0.2);
  z-index: 1;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// .Trip-summary-report-download {
//   margin-top: 5px;
//  margin-left: 10px;
//   font-size: 14px;
//   letter-spacing: 0px;
//   color: #8997b5;
//   opacity: 1;
//   font-family: $font-name-Roboto-Medium;
// }

// .Trip-summary-report-download-img {
//   margin-left: 7px;
//   margin-top: -1px;
// }


.trip_summary_report_div {
  // margin-left: 60%;
  margin-top: -25px;
  display: flex;
  padding: 2rem;
  // width: 50%;
  //justify-content: space-between;
}
.trip_summary_report_div_labels {
  display: flex;
}


.trip_summary_report_div_labels_style {
  display: flex;
  font-family: $font-name-Roboto-Medium;
  font-size: 15px;
  margin-top: -5px;
  margin-left: 10px;
}



.trip_summary_report_div_button-submit {
  padding: 5px 5px;
  background-color: #ed2541;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  font-family: $font-name-Roboto-Bold;
  cursor: pointer;
  width: 120px;
  font-weight: 500;
  letter-spacing: 1px;
  // margin-top: 1px;
  margin-left: -125px;
  float: right;
}
.trip_summary_report_div_button-submit-1 {
  padding: 5px 5px;
  background-color: #ed2541;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 3px;
  color: #fff;
  font-family: $font-name-Roboto-Bold;
  cursor: pointer;
  width: 120px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 20px;
  // margin-top: 1px;
  //margin-left: -55px;
  //margin-right: 10px;
  float: right;
}
.trip_summary_report_search {
  margin-left: 180px;
  margin-top: 1px;
  // margin-bottom: 10px;
  font-family: $font-name-Roboto-Regular;
}
.trip_summary_report_search-input {
  width: 400px;
  // margin-top: 6px;
  height: 30px;
}

.trip_summary_report_download {
  margin-top: 5px;
  margin-left: 20px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #8997b5;
  opacity: 1;
  cursor: pointer;
  font-family: $font-name-Roboto-Medium;
}

.trip_summary_report_download-img {
  margin-left: 7px;
  margin-top: -1px;
  cursor: pointer;
}


.trip_summary_report_table{
  margin-top: -20px;
}