@import "../../stylesheets/robotoFonts";

.tripmaster {
  margin-top: 20px;
  margin-left: 35px;

  /* UI Properties */
  text-align: left;
  font-family: $font-name-Roboto-Bold;
  font-size: 22px;
  font-weight: 700;
  font-variant: normal;
  letter-spacing: 0px;
  color: #073a81;
  text-transform: capitalize;
  opacity: 1;
}

.breakdownsummary {
  margin-top: 20px;
  margin-left: 50px;

  /* UI Properties */
  text-align: left;
  font-family: $font-name-Roboto-Bold;
  font-size: 22px;
  font-weight: 700;
  font-variant: normal;
  letter-spacing: 0px;
  color: #073a81;
  text-transform: capitalize;
  opacity: 1;
}
.ReactTable .rt-thead .rt-resizable-header {
  background-color: #eaedf1;
  color: #000 !important;
}
.rt-td {
  text-align: center;
  font-size: 13px;
  font-family: $font-name-Roboto-Regular;
}
.rt-resizable-header-content {
  font-size: 14px;
  font-family: $font-name-Roboto-Medium;
}

.ReactTable .-pagination .-btn {
  font-size: 1em;
}

.trip-master-subhead {
  display: flex;
  //margin-left: 3%;
  //padding-right: 20px;
  //margin-top: -15px;
  //margin-bottom: 10px;
}

.download-upload {
  // display: inline-flex;
  // //margin-left: 90%;
  // //margin-right: 20px;
  // margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 30px;
}


.search-trip-master-report {
  margin-left: 47%;
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: $font-name-Roboto-Regular;
}

// .trip-master-subhead{
//   display: flex;
// }

.search-trip-master-input {
  width: 400px;
  height: 30px;
  //margin-left: 15px;
  margin-top: -30px;
}

// .table-items-count {
//   white-space: nowrap;
//   font-family: "Roboto-Regular";
//   font-size: 12px;
//   margin-top: 20px;
//   margin-left: -2%;
// }


.records-info{
  margin-left: 30px;
 // margin-top: -20px;
  font-size: 14px;
  font-family: $font-name-Roboto-Medium;
}

.Trip-Updation_report-download {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #8997b5;
  opacity: 1;
  cursor: pointer;
  font-family: $font-name-Roboto-Medium;
}

.Trip-Updation_report-download-img {
  margin-left: 7px;
  margin-top: -1px;
  cursor: pointer;
}