.notification {
  top: 15px;
  //left: 1261px;
  width: 30px;
  height: 30px;
  /* UI Properties */
  //@function: transparent url('../../../assets/images/Group 5204/Group 5204.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-top: 8px;
  margin-right: 20px;
  margin-left: -2px;
}
